<h2 class="bar-heading">Details crash info</h2>
<ol class="info-list">
  <li
    class="info-list__item"
    [ngClass]="{state:true}"
  >Cockpit: <span class="info-list__info">{{shipInfo.details.cockpit}}</span></li>

  <li
    class="info-list__item"
    [ngClass]="{state:true}"
  >Deck: <span class="info-list__info">{{shipInfo.details.deck}}</span></li>

  <li
    class="info-list__item"
    [ngClass]="{state:true}"
  >Left turbine: <span class="info-list__info">{{shipInfo.details.leftTurbine}}</span></li>

  <li
    class="info-list__item"
    [ngClass]="{state:true}"
  >Right turbine: <span class="info-list__info">{{shipInfo.details.rightTurbine}}</span></li>

  <li
    class="info-list__item"
    [ngClass]="{state:true}"
  >Engine: <span class="info-list__info">{{shipInfo.details.engine}}</span></li>


</ol>
