<h2 class="bar-heading">Details crash info</h2>
<ol class="info-list">
  <li class="info-list__item">
    Cockpit:
    <span
      class="info-list__info"
      [class.damaged]="getDamagedBoolean(shipInfo.details.cockpit)"
      [class.broken]="getBrokenBoolean(shipInfo.details.cockpit)"

    >{{shipInfo.details.cockpit}}</span></li>
  <li class="info-list__item">Deck:
    <span
      class="info-list__info"
      [class.damaged]="getDamagedBoolean(shipInfo.details.deck)"
      [class.broken]="getBrokenBoolean(shipInfo.details.deck)"
    >{{shipInfo.details.deck}}</span></li>

  <li
    class="info-list__item"
  >Left turbine: <span
    class="info-list__info"
    [class.damaged]="getDamagedBoolean(shipInfo.details.leftTurbine)"
    [class.broken]="getBrokenBoolean(shipInfo.details.leftTurbine)"
  >{{shipInfo.details.leftTurbine}}</span></li>

  <li
    class="info-list__item"
  >Right turbine: <span
    class="info-list__info"
    [class.damaged]="getDamagedBoolean(shipInfo.details.rightTurbine)"
    [class.broken]="getBrokenBoolean(shipInfo.details.rightTurbine)"
  >{{shipInfo.details.rightTurbine}}</span></li>

  <li class="info-list__item">Engine:
    <span
    class="info-list__info"
    [class.damaged]="getDamagedBoolean(shipInfo.details.engine)"
    [class.broken]="getBrokenBoolean(shipInfo.details.engine)"
  >{{shipInfo.details.engine}}</span></li>


</ol>
