<div class="container">
  <div class="left-bar">
    <div class="bar-item bar-item-1 bar-item_pos stats-bar">
      <stats-bar></stats-bar>
    </div>
    <div class="bar-item bar-item-1 bar-item_pos crash-bar">
      <crash-bar></crash-bar>
    </div>
    <div class="bar-item bar-item-1 bar-item_pos">
      <info-bar></info-bar>
    </div>
  </div>

  <div class="central-bar">
    <div class="bar-item bar-item-1 bar-item_pos"><game-pad></game-pad></div>
  </div>

  <div class="right-bar">
    <div class="bar-item bar-item-2 bar-item_pos">
      <tool-bar></tool-bar>
    </div>
    <div class="bar-item bar-item-1 bar-item_pos">
      <dialog-bar></dialog-bar>
    </div>
  </div>
</div>
