<h2 class="bar-heading">Details crash info</h2>
<ol class="info-list">
  <li class="info-list__item">Detail info: <span class="info-list__info">Damaged</span></li>
  <li class="info-list__item">Detail info: <span class="info-list__info">Serviceable</span></li>
  <li class="info-list__item">Detail info: <span class="info-list__info">Broken</span></li>
  <li class="info-list__item">Detail info: <span class="info-list__info">Serviceable</span></li>
  <li class="info-list__item">Detail info: <span class="info-list__info">Serviceable</span></li>
</ol>
