<h2 class="bar-heading">Tools and details</h2>

<h3 class="list-heading">Tourist ship</h3>
<ol class="info-list">
  <li class="info-list__item cockpit">Cockpit</li>
  <li class="info-list__item deck">Deck</li>
  <li class="info-list__item leftTurbine">Left turbine</li>
  <li class="info-list__item rightTurbine">Right turbine</li>
  <li class="info-list__item engine">Engine</li>
</ol>

<h3 class="list-heading">Merchant ship</h3>
<ol class="info-list">
  <li class="info-list__item cockpit">Cockpit</li>
  <li class="info-list__item deck">Deck</li>
  <li class="info-list__item leftTurbine">Left turbine</li>
  <li class="info-list__item rightTurbine">Right turbine</li>
  <li class="info-list__item engine">Engine</li>
</ol>

<h3 class="list-heading">Battle ship</h3>
<ol class="info-list">
  <li class="info-list__item cockpit">Cockpit</li>
  <li class="info-list__item deck">Deck</li>
  <li class="info-list__item leftTurbine">Left turbine</li>
  <li class="info-list__item rightTurbine">Right turbine</li>
  <li class="info-list__item engine">Engine</li>
</ol>
